# Build artifacts
build/
bin/
out/
cmake-build-*/

# Object files
*.o
*.obj
*.lo
*.slo

# Precompiled headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app

# Libraries
*.a
*.lib
*.so
*.dylib
*.dll

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.ilk

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Editor/IDE
.vscode/
.vs/
*.swp
